@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
* {
  font-family: "HK Grotesk" !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "HK Grotesk", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9 !important;
}
label,
p,
div {
  font-family: "HK Grotesk" !important;
  font-style: normal;
  letter-spacing: 0.17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.PRIORITY_HIGH {
  background-color: #fef1f3 !important;
  color: #ff0000 !important;
  font-weight: 600 !important;
}
.PRIORITY_LOW {
  background-color: #e7f6e7 !important; /* Green base */
  color: #008000 !important; /* Dark green text */
  font-weight: 600 !important;
}

.PRIORITY_MEDIUM {
  background-color: #fff6cc !important; /* Yellow base */
  color: #ffc107 !important; /* Dark yellow text */
  font-weight: 600 !important;
}

.table-priority {
  background: none !important;
}
.NEW {
  background-color: #bbdefb !important;
  color: #0d47a1 !important;
  font-weight: 600 !important;
}

.IN_PROGRESS {
  background-color: #fff9c4;
  color: #f57f17 !important;
  font-weight: 600 !important;
}

.RESOLVED {
  background-color: #c8e6c9 !important;
  color: #2e7d32 !important;
  font-weight: 600 !important;
}
.status-text {
  background: none !important;
}
.NEW_CIRCLE {
  background-color: #0d47a1 !important;
}

.IN_PROGRESS_CIRCLE {
  background-color: #f57f17 !important;
}

.RESOLVED_CIRCLE {
  background-color: #2e7d32 !important;
}
.container {
  display: flex;
  height: 100vh; /* Make the container take the full height of the viewport */
}
